# dependencies
node_modules
.pnpm-store

# build outputs
dist
.next
out

# env files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# turbo
.turbo

# db
*.db
*.db-wal
*.db-shm
